# **Laboratorio para pruebas**

### **Librerias Necesarias**

In [1]:
%run Proyecto_idDrRecursos.ipynb

In [3]:
Freqs_drone = pd.read_json("Seleccion/Frecuencias/colFreqs6000.json")
label_drone = pd.read_csv("Seleccion/Frecuencias/labelFreqs6000.csv")
#Configuraciones para no truncar la salida  ***************
pd.set_option('display.max_rows', None)
#Porcentaje 50 
percent_query = 30
k = 3

In [4]:
#Datos 

#Query
nume_samples_query = int((len(Freqs_drone) * percent_query)/100)                       #Numero de muestras con respecto al porcentanje         
query_index_samples = random.sample(list(range(0,400)),nume_samples_query)          #Escogemos los indices de query aleatoriamente sin remplazo
query_index_samples.sort()                                                          #Ordenamos 
query_samples = Freqs_drone.iloc[query_index_samples]                                  #seleccionamos de data_num con respecto a los indices encontrados 
#Training
#Agregar inplace como True para eliminar de la original 
training_samples = Freqs_drone.drop(query_index_samples)                               #Escogemos los indices faltantes

#Label 
query_samples_label = label_drone.iloc[query_index_samples]                          #iloc -> [] usando los indices antes encontrados para query
training_samples_label = label_drone.drop(query_index_samples)                       #Escogemos los indices faltantes 

#Elementos en total 
total = len(query_samples)

In [5]:

cols_dn = len(Freqs_drone.columns)                                                     #Columnas de data_num
size_ts = len(training_samples)                                                     #Size de training_samples
size_q  = len(query_samples)                                                        #Size de query
k_DI = []                                                                           #Aqui se almacenan las k distancias mas pequeñas                                                                          #
for j in range(size_q):                                                             #iteramos por todos los elementos de la query
    Q = np.tile(query_samples.iloc[j,:],(training_samples.shape[0],1))              #Igual que 'repmat'
    Z = Q - training_samples                                                        #
    
    S_with_garbage = Z @ Z.T                                                        #puede usar tambien np.dot(m1,m2)
    distancia_S = np.diag(S_with_garbage) ** (1 / 2)                                #Obtener la diagonal y elevar sus elem a 1/2
    
    sort_index = np.argsort(distancia_S)                                            #Obtener los indices ordenados
    
    k_index = sort_index[:k]                                                        #Seleccionamos los k primeros
    k_dis = distancia_S[k_index]                                                    #Almacenamos las k distancias minimas

    mode_k_dis = mode(k_dis)[0]                                                     #mode retorna (moda, repeticiones)
    index_mode = np.where(distancia_S == mode_k_dis)[0][0]                          #buscamos indice en distancia_S de mode_k_dis
    """
    index_mode1 = 0                                                                 #La primera forma que se me ocurrio de hacerlo
    for i in k_index:                                                               #luego encontre la solución de arriba
        if distancia_S[i] == mode_k_dis:
            index_mode = i
            break
    print(distancia_S[index_mode],distancia_S[index_mode1])
    """
    k_DI.append(index_mode) 

cont_Error = 0
for i in range(len(query_samples_label)):
    print(f"Label en query:{query_samples_label.iloc[i]}")
    print(f"Valor dado por kNN:{training_samples_label.iloc[k_DI[i]]}\n")
    if str(query_samples_label.iloc[i][0]) != str(training_samples_label.iloc[k_DI[i]][0]):
        cont_Error += 1
        print("------",str(query_samples_label.iloc[i][0]))
        print(f"Label {i} en query:{query_samples_label.iloc[i]}")
        print(f"Valor dado por kNN:{training_samples_label.iloc[k_DI[i]]}\n")

Label en query:0    Drone
Name: 0, dtype: object
Valor dado por kNN:0    Drone
Name: 24, dtype: object

Label en query:0    Drone
Name: 4, dtype: object
Valor dado por kNN:0    Drone
Name: 147, dtype: object

Label en query:0    Drone
Name: 6, dtype: object
Valor dado por kNN:0    Drone
Name: 52, dtype: object

Label en query:0    Drone
Name: 10, dtype: object
Valor dado por kNN:0    Drone
Name: 83, dtype: object

Label en query:0    Drone
Name: 13, dtype: object
Valor dado por kNN:0    Drone
Name: 166, dtype: object

Label en query:0    Drone
Name: 15, dtype: object
Valor dado por kNN:0    Drone
Name: 170, dtype: object

Label en query:0    Drone
Name: 32, dtype: object
Valor dado por kNN:0    Drone
Name: 19, dtype: object

Label en query:0    Drone
Name: 33, dtype: object
Valor dado por kNN:0    Drone
Name: 36, dtype: object

Label en query:0    Drone
Name: 39, dtype: object
Valor dado por kNN:0    Drone
Name: 162, dtype: object

Label en query:0    Drone
Name: 40, dtype: object
Valor dado por kNN:0    Drone
Name: 131, dtype: object

Label en query:0    Drone
Name: 43, dtype: object
Valor dado por kNN:0    Drone
Name: 155, dtype: object

Label en query:0    Drone
Name: 47, dtype: object
Valor dado por kNN:0    Drone
Name: 138, dtype: object

Label en query:0    Drone
Name: 50, dtype: object
Valor dado por kNN:0    Drone
Name: 144, dtype: object

Label en query:0    Drone
Name: 53, dtype: object
Valor dado por kNN:0    Drone
Name: 104, dtype: object

Label en query:0    Drone
Name: 60, dtype: object
Valor dado por kNN:0    Drone
Name: 157, dtype: object

Label en query:0    Drone
Name: 62, dtype: object
Valor dado por kNN:0    Drone
Name: 129, dtype: object

Label en query:0    Drone
Name: 65, dtype: object
Valor dado por kNN:0    Drone
Name: 166, dtype: object

Label en query:0    Drone
Name: 67, dtype: object
Valor dado por kNN:0    Drone
Name: 34, dtype: object

Label en query:0    Drone
Name: 69, dtype: object
Valor dado por kNN:0    Drone
Name: 44, dtype: object

Label en query:0    Drone
Name: 75, dtype: object
Valor dado por kNN:0    Drone
Name: 170, dtype: object

Label en query:0    Drone
Name: 77, dtype: object
Valor dado por kNN:0    Drone
Name: 157, dtype: object

Label en query:0    Drone
Name: 78, dtype: object
Valor dado por kNN:0    Drone
Name: 157, dtype: object

Label en query:0    Drone
Name: 87, dtype: object
Valor dado por kNN:0    Drone
Name: 44, dtype: object

Label en query:0    Drone
Name: 89, dtype: object
Valor dado por kNN:0    Drone
Name: 93, dtype: object

Label en query:0    Drone
Name: 95, dtype: object
Valor dado por kNN:0    Drone
Name: 142, dtype: object

Label en query:0    Drone
Name: 96, dtype: object
Valor dado por kNN:0    Drone
Name: 174, dtype: object

Label en query:0    Drone
Name: 99, dtype: object
Valor dado por kNN:0    Drone
Name: 187, dtype: object

Label en query:0    Drone
Name: 100, dtype: object
Valor dado por kNN:0    Drone
Name: 93, dtype: object

Label en query:0    Drone
Name: 102, dtype: object
Valor dado por kNN:0    Drone
Name: 59, dtype: object

Label en query:0    Drone
Name: 103, dtype: object
Valor dado por kNN:0    Drone
Name: 34, dtype: object

Label en query:0    Drone
Name: 105, dtype: object
Valor dado por kNN:0    Drone
Name: 55, dtype: object

Label en query:0    Drone
Name: 108, dtype: object
Valor dado por kNN:0    Drone
Name: 150, dtype: object

Label en query:0    Drone
Name: 109, dtype: object
Valor dado por kNN:0    Drone
Name: 130, dtype: object

Label en query:0    Drone
Name: 110, dtype: object
Valor dado por kNN:0    Drone
Name: 119, dtype: object

Label en query:0    Drone
Name: 116, dtype: object
Valor dado por kNN:0    Drone
Name: 84, dtype: object

Label en query:0    Drone
Name: 118, dtype: object
Valor dado por kNN:0    Drone
Name: 137, dtype: object

Label en query:0    Drone
Name: 122, dtype: object
Valor dado por kNN:0    Drone
Name: 129, dtype: object

Label en query:0    Drone
Name: 123, dtype: object
Valor dado por kNN:0    Drone
Name: 61, dtype: object

Label en query:0    Drone
Name: 125, dtype: object
Valor dado por kNN:0    Drone
Name: 84, dtype: object

Label en query:0    Drone
Name: 126, dtype: object
Valor dado por kNN:0    Drone
Name: 71, dtype: object

Label en query:0    Drone
Name: 132, dtype: object
Valor dado por kNN:0    Drone
Name: 185, dtype: object

Label en query:0    Drone
Name: 140, dtype: object
Valor dado por kNN:0    Drone
Name: 155, dtype: object

Label en query:0    Drone
Name: 143, dtype: object
Valor dado por kNN:0    Drone
Name: 121, dtype: object

Label en query:0    Drone
Name: 148, dtype: object
Valor dado por kNN:0    Drone
Name: 155, dtype: object

Label en query:0    Drone
Name: 149, dtype: object
Valor dado por kNN:0    Drone
Name: 197, dtype: object

Label en query:0    Drone
Name: 154, dtype: object
Valor dado por kNN:0    Drone
Name: 144, dtype: object

Label en query:0    Drone
Name: 156, dtype: object
Valor dado por kNN:0    Drone
Name: 41, dtype: object

Label en query:0    Drone
Name: 159, dtype: object
Valor dado por kNN:0    Drone
Name: 91, dtype: object

Label en query:0    Drone
Name: 167, dtype: object
Valor dado por kNN:0    Drone
Name: 20, dtype: object

Label en query:0    Drone
Name: 168, dtype: object
Valor dado por kNN:0    Drone
Name: 121, dtype: object

Label en query:0    Drone
Name: 169, dtype: object
Valor dado por kNN:0    Drone
Name: 170, dtype: object

Label en query:0    Drone
Name: 173, dtype: object
Valor dado por kNN:0    Drone
Name: 191, dtype: object

Label en query:0    Drone
Name: 176, dtype: object
Valor dado por kNN:0    Drone
Name: 187, dtype: object

Label en query:0    Drone
Name: 178, dtype: object
Valor dado por kNN:0    Drone
Name: 131, dtype: object

Label en query:0    Drone
Name: 180, dtype: object
Valor dado por kNN:0    Drone
Name: 91, dtype: object

Label en query:0    Drone
Name: 183, dtype: object
Valor dado por kNN:0    Drone
Name: 181, dtype: object

Label en query:0    Drone
Name: 186, dtype: object
Valor dado por kNN:0    Drone
Name: 147, dtype: object

Label en query:0    Drone
Name: 188, dtype: object
Valor dado por kNN:0    Drone
Name: 92, dtype: object

Label en query:0    Drone
Name: 189, dtype: object
Valor dado por kNN:0    Drone
Name: 52, dtype: object

Label en query:0    Drone
Name: 190, dtype: object
Valor dado por kNN:0    Drone
Name: 7, dtype: object

Label en query:0    Drone
Name: 193, dtype: object
Valor dado por kNN:0    Drone
Name: 153, dtype: object

Label en query:0    Drone
Name: 195, dtype: object
Valor dado por kNN:0    Drone
Name: 147, dtype: object

Label en query:0    Drone
Name: 196, dtype: object
Valor dado por kNN:0    Drone
Name: 111, dtype: object

Label en query:0    No Drone
Name: 201, dtype: object
Valor dado por kNN:0    No Drone
Name: 241, dtype: object

Label en query:0    No Drone
Name: 204, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 206, dtype: object
Valor dado por kNN:0    No Drone
Name: 346, dtype: object

Label en query:0    No Drone
Name: 211, dtype: object
Valor dado por kNN:0    No Drone
Name: 278, dtype: object

Label en query:0    No Drone
Name: 214, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 220, dtype: object
Valor dado por kNN:0    No Drone
Name: 222, dtype: object

Label en query:0    No Drone
Name: 224, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 225, dtype: object
Valor dado por kNN:0    No Drone
Name: 227, dtype: object

Label en query:0    No Drone
Name: 228, dtype: object
Valor dado por kNN:0    No Drone
Name: 254, dtype: object

Label en query:0    No Drone
Name: 233, dtype: object
Valor dado por kNN:0    No Drone
Name: 210, dtype: object

Label en query:0    No Drone
Name: 236, dtype: object
Valor dado por kNN:0    No Drone
Name: 277, dtype: object

Label en query:0    No Drone
Name: 243, dtype: object
Valor dado por kNN:0    No Drone
Name: 285, dtype: object

Label en query:0    No Drone
Name: 247, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 251, dtype: object
Valor dado por kNN:0    No Drone
Name: 371, dtype: object

Label en query:0    No Drone
Name: 252, dtype: object
Valor dado por kNN:0    No Drone
Name: 257, dtype: object

Label en query:0    No Drone
Name: 258, dtype: object
Valor dado por kNN:0    No Drone
Name: 317, dtype: object

Label en query:0    No Drone
Name: 260, dtype: object
Valor dado por kNN:0    No Drone
Name: 399, dtype: object

Label en query:0    No Drone
Name: 262, dtype: object
Valor dado por kNN:0    No Drone
Name: 396, dtype: object

Label en query:0    No Drone
Name: 264, dtype: object
Valor dado por kNN:0    No Drone
Name: 202, dtype: object

Label en query:0    No Drone
Name: 268, dtype: object
Valor dado por kNN:0    No Drone
Name: 269, dtype: object

Label en query:0    No Drone
Name: 273, dtype: object
Valor dado por kNN:0    No Drone
Name: 311, dtype: object

Label en query:0    No Drone
Name: 276, dtype: object
Valor dado por kNN:0    No Drone
Name: 325, dtype: object

Label en query:0    No Drone
Name: 280, dtype: object
Valor dado por kNN:0    No Drone
Name: 305, dtype: object

Label en query:0    No Drone
Name: 281, dtype: object
Valor dado por kNN:0    No Drone
Name: 239, dtype: object

Label en query:0    No Drone
Name: 284, dtype: object
Valor dado por kNN:0    No Drone
Name: 397, dtype: object

Label en query:0    No Drone
Name: 292, dtype: object
Valor dado por kNN:0    No Drone
Name: 322, dtype: object

Label en query:0    No Drone
Name: 297, dtype: object
Valor dado por kNN:0    No Drone
Name: 237, dtype: object

Label en query:0    No Drone
Name: 298, dtype: object
Valor dado por kNN:0    No Drone
Name: 366, dtype: object

Label en query:0    No Drone
Name: 301, dtype: object
Valor dado por kNN:0    No Drone
Name: 289, dtype: object

Label en query:0    No Drone
Name: 307, dtype: object
Valor dado por kNN:0    No Drone
Name: 363, dtype: object

Label en query:0    No Drone
Name: 312, dtype: object
Valor dado por kNN:0    No Drone
Name: 253, dtype: object

Label en query:0    No Drone
Name: 313, dtype: object
Valor dado por kNN:0    No Drone
Name: 285, dtype: object

Label en query:0    No Drone
Name: 316, dtype: object
Valor dado por kNN:0    No Drone
Name: 245, dtype: object

Label en query:0    No Drone
Name: 320, dtype: object
Valor dado por kNN:0    No Drone
Name: 288, dtype: object

Label en query:0    No Drone
Name: 331, dtype: object
Valor dado por kNN:0    Drone
Name: 128, dtype: object

------ No Drone
Label 97 en query:0    No Drone
Name: 331, dtype: object
Valor dado por kNN:0    Drone
Name: 128, dtype: object

Label en query:0    No Drone
Name: 332, dtype: object
Valor dado por kNN:0    No Drone
Name: 371, dtype: object

Label en query:0    No Drone
Name: 333, dtype: object
Valor dado por kNN:0    No Drone
Name: 212, dtype: object

Label en query:0    No Drone
Name: 334, dtype: object
Valor dado por kNN:0    No Drone
Name: 294, dtype: object

Label en query:0    No Drone
Name: 337, dtype: object
Valor dado por kNN:0    No Drone
Name: 325, dtype: object

Label en query:0    No Drone
Name: 344, dtype: object
Valor dado por kNN:0    No Drone
Name: 366, dtype: object

Label en query:0    No Drone
Name: 347, dtype: object
Valor dado por kNN:0    No Drone
Name: 283, dtype: object

Label en query:0    No Drone
Name: 348, dtype: object
Valor dado por kNN:0    No Drone
Name: 222, dtype: object

Label en query:0    No Drone
Name: 350, dtype: object
Valor dado por kNN:0    No Drone
Name: 231, dtype: object

Label en query:0    No Drone
Name: 358, dtype: object
Valor dado por kNN:0    No Drone
Name: 293, dtype: object

Label en query:0    No Drone
Name: 360, dtype: object
Valor dado por kNN:0    No Drone
Name: 237, dtype: object

Label en query:0    No Drone
Name: 364, dtype: object
Valor dado por kNN:0    No Drone
Name: 294, dtype: object

Label en query:0    No Drone
Name: 367, dtype: object
Valor dado por kNN:0    No Drone
Name: 296, dtype: object

Label en query:0    No Drone
Name: 368, dtype: object
Valor dado por kNN:0    No Drone
Name: 394, dtype: object

Label en query:0    No Drone
Name: 369, dtype: object
Valor dado por kNN:0    No Drone
Name: 253, dtype: object

Label en query:0    No Drone
Name: 375, dtype: object
Valor dado por kNN:0    No Drone
Name: 385, dtype: object

Label en query:0    No Drone
Name: 377, dtype: object
Valor dado por kNN:0    No Drone
Name: 317, dtype: object

Label en query:0    No Drone
Name: 379, dtype: object
Valor dado por kNN:0    No Drone
Name: 309, dtype: object

Label en query:0    No Drone
Name: 380, dtype: object
Valor dado por kNN:0    No Drone
Name: 363, dtype: object

Label en query:0    No Drone
Name: 386, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 387, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 395, dtype: object
Valor dado por kNN:0    No Drone
Name: 212, dtype: object

Label en query:0    No Drone
Name: 398, dtype: object
Valor dado por kNN:0    No Drone
Name: 235, dtype: object

/tmp/ipykernel_211551/2936247945.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if str(query_samples_label.iloc[i][0]) != str(training_samples_label.iloc[k_DI[i]][0]):
/tmp/ipykernel_211551/2936247945.py:35: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("------",str(query_samples_label.iloc[i][0]))

In [7]:
print(f"Errores: {cont_Error}")
percent_success = (total - cont_Error) * (100 / total)
print(f"Porcentaje query seleccionado: {percent_query}\n",
      f"Porcentaje training seleccionado: {100 - percent_query}\n",
      f"Elementos en query: {len(query_samples)}\n",
      f"Elementos en training: {len(training_samples)}\n",
      f"k : {k}\n",
      f"Porcentaje exito: {percent_success}\n",
      f"Total: {total-cont_Error}", sep="")

Errores: 1
Porcentaje query seleccionado: 30
Porcentaje training seleccionado: 70
Elementos en query: 120
Elementos en training: 280
k : 3
Porcentaje exito: 99.16666666666667
Total: 119