# **Laboratorio para pruebas**

### **Librerias Necesarias**

In [2]:
%run Proyecto_idDrRecursos.ipynb

In [3]:
Freqs_drone = pd.read_json("Seleccion/colFreqs6000.json")
label_drone = pd.read_csv("Seleccion/labelFreqs6000.csv")
#Configuraciones para no truncar la salida  ***************
pd.set_option('display.max_rows', None)
#Porcentaje 50 
percent_query = 30
k = 3

In [4]:
#Datos 

#Query
nume_samples_query = int((len(Freqs_drone) * percent_query)/100)                       #Numero de muestras con respecto al porcentanje         
query_index_samples = random.sample(list(range(0,400)),nume_samples_query)          #Escogemos los indices de query aleatoriamente sin remplazo
query_index_samples.sort()                                                          #Ordenamos 
query_samples = Freqs_drone.iloc[query_index_samples]                                  #seleccionamos de data_num con respecto a los indices encontrados 
#Training
#Agregar inplace como True para eliminar de la original 
training_samples = Freqs_drone.drop(query_index_samples)                               #Escogemos los indices faltantes

#Label 
query_samples_label = label_drone.iloc[query_index_samples]                          #iloc -> [] usando los indices antes encontrados para query
training_samples_label = label_drone.drop(query_index_samples)                       #Escogemos los indices faltantes 

#Elementos en total 
total = len(query_samples)

In [6]:

cols_dn = len(Freqs_drone.columns)                                                     #Columnas de data_num
size_ts = len(training_samples)                                                     #Size de training_samples
size_q  = len(query_samples)                                                        #Size de query
k_DI = []                                                                           #Aqui se almacenan las k distancias mas pequeñas                                                                          #
for j in range(size_q):                                                             #iteramos por todos los elementos de la query
    Q = np.tile(query_samples.iloc[j,:],(training_samples.shape[0],1))              #Igual que 'repmat'
    Z = Q - training_samples                                                        #
    
    S_with_garbage = Z @ Z.T                                                        #puede usar tambien np.dot(m1,m2)
    distancia_S = np.diag(S_with_garbage) ** (1 / 2)                                #Obtener la diagonal y elevar sus elem a 1/2
    
    sort_index = np.argsort(distancia_S)                                            #Obtener los indices ordenados
    
    k_index = sort_index[:k]                                                        #Seleccionamos los k primeros
    k_dis = distancia_S[k_index]                                                    #Almacenamos las k distancias minimas

    mode_k_dis = mode(k_dis)[0]                                                     #mode retorna (moda, repeticiones)
    index_mode = np.where(distancia_S == mode_k_dis)[0][0]                          #buscamos indice en distancia_S de mode_k_dis
    """
    index_mode1 = 0                                                                 #La primera forma que se me ocurrio de hacerlo
    for i in k_index:                                                               #luego encontre la solución de arriba
        if distancia_S[i] == mode_k_dis:
            index_mode = i
            break
    print(distancia_S[index_mode],distancia_S[index_mode1])
    """
    k_DI.append(index_mode) 

cont_Error = 0
for i in range(len(query_samples_label)):
    print(f"Label en query:{query_samples_label.iloc[i]}")
    print(f"Valor dado por kNN:{training_samples_label.iloc[k_DI[i]]}\n")
    if str(query_samples_label.iloc[i][0]) != str(training_samples_label.iloc[k_DI[i]][0]):
        cont_Error += 1
        print("------",str(query_samples_label.iloc[i][0]))
        print(f"Label {i} en query:{query_samples_label.iloc[i]}")
        print(f"Valor dado por kNN:{training_samples_label.iloc[k_DI[i]]}\n")

Label en query:0    Drone
Name: 0, dtype: object
Valor dado por kNN:0    Drone
Name: 181, dtype: object

Label en query:0    Drone
Name: 4, dtype: object
Valor dado por kNN:0    Drone
Name: 7, dtype: object

Label en query:0    Drone
Name: 5, dtype: object
Valor dado por kNN:0    Drone
Name: 99, dtype: object

Label en query:0    Drone
Name: 9, dtype: object
Valor dado por kNN:0    Drone
Name: 190, dtype: object

Label en query:0    Drone
Name: 12, dtype: object
Valor dado por kNN:0    Drone
Name: 140, dtype: object

Label en query:0    Drone
Name: 14, dtype: object
Valor dado por kNN:0    Drone
Name: 137, dtype: object

Label en query:0    Drone
Name: 15, dtype: object
Valor dado por kNN:0    Drone
Name: 156, dtype: object

Label en query:0    Drone
Name: 16, dtype: object
Valor dado por kNN:0    Drone
Name: 70, dtype: object

Label en query:0    Drone
Name: 18, dtype: object
Valor dado por kNN:0    Drone
Name: 99, dtype: object

Label en query:0    Drone
Name: 19, dtype: object
Valor dado por kNN:0    Drone
Name: 127, dtype: object

Label en query:0    Drone
Name: 20, dtype: object
Valor dado por kNN:0    Drone
Name: 155, dtype: object

Label en query:0    Drone
Name: 24, dtype: object
Valor dado por kNN:0    Drone
Name: 47, dtype: object

Label en query:0    Drone
Name: 27, dtype: object
Valor dado por kNN:0    Drone
Name: 47, dtype: object

Label en query:0    Drone
Name: 31, dtype: object
Valor dado por kNN:0    Drone
Name: 129, dtype: object

Label en query:0    Drone
Name: 35, dtype: object
Valor dado por kNN:0    Drone
Name: 54, dtype: object

Label en query:0    Drone
Name: 36, dtype: object
Valor dado por kNN:0    Drone
Name: 61, dtype: object

Label en query:0    Drone
Name: 39, dtype: object
Valor dado por kNN:0    Drone
Name: 162, dtype: object

Label en query:0    Drone
Name: 43, dtype: object
Valor dado por kNN:0    Drone
Name: 155, dtype: object

Label en query:0    Drone
Name: 45, dtype: object
Valor dado por kNN:0    Drone
Name: 40, dtype: object

Label en query:0    Drone
Name: 62, dtype: object
Valor dado por kNN:0    Drone
Name: 129, dtype: object

Label en query:0    Drone
Name: 63, dtype: object
Valor dado por kNN:0    Drone
Name: 82, dtype: object

Label en query:0    Drone
Name: 67, dtype: object
Valor dado por kNN:0    Drone
Name: 143, dtype: object

Label en query:0    Drone
Name: 74, dtype: object
Valor dado por kNN:0    Drone
Name: 186, dtype: object

Label en query:0    Drone
Name: 75, dtype: object
Valor dado por kNN:0    Drone
Name: 193, dtype: object

Label en query:0    Drone
Name: 77, dtype: object
Valor dado por kNN:0    Drone
Name: 154, dtype: object

Label en query:0    Drone
Name: 78, dtype: object
Valor dado por kNN:0    Drone
Name: 157, dtype: object

Label en query:0    Drone
Name: 86, dtype: object
Valor dado por kNN:0    Drone
Name: 144, dtype: object

Label en query:0    Drone
Name: 87, dtype: object
Valor dado por kNN:0    Drone
Name: 44, dtype: object

Label en query:0    Drone
Name: 91, dtype: object
Valor dado por kNN:0    Drone
Name: 130, dtype: object

Label en query:0    Drone
Name: 92, dtype: object
Valor dado por kNN:0    Drone
Name: 37, dtype: object

Label en query:0    Drone
Name: 95, dtype: object
Valor dado por kNN:0    Drone
Name: 60, dtype: object

Label en query:0    Drone
Name: 101, dtype: object
Valor dado por kNN:0    Drone
Name: 186, dtype: object

Label en query:0    Drone
Name: 103, dtype: object
Valor dado por kNN:0    Drone
Name: 34, dtype: object

Label en query:0    Drone
Name: 108, dtype: object
Valor dado por kNN:0    Drone
Name: 130, dtype: object

Label en query:0    Drone
Name: 112, dtype: object
Valor dado por kNN:0    Drone
Name: 47, dtype: object

Label en query:0    Drone
Name: 113, dtype: object
Valor dado por kNN:0    Drone
Name: 140, dtype: object

Label en query:0    Drone
Name: 114, dtype: object
Valor dado por kNN:0    Drone
Name: 109, dtype: object

Label en query:0    Drone
Name: 118, dtype: object
Valor dado por kNN:0    Drone
Name: 137, dtype: object

Label en query:0    Drone
Name: 131, dtype: object
Valor dado por kNN:0    Drone
Name: 104, dtype: object

Label en query:0    Drone
Name: 132, dtype: object
Valor dado por kNN:0    Drone
Name: 176, dtype: object

Label en query:0    Drone
Name: 133, dtype: object
Valor dado por kNN:0    Drone
Name: 134, dtype: object

Label en query:0    Drone
Name: 135, dtype: object
Valor dado por kNN:0    Drone
Name: 137, dtype: object

Label en query:0    Drone
Name: 141, dtype: object
Valor dado por kNN:0    Drone
Name: 130, dtype: object

Label en query:0    Drone
Name: 147, dtype: object
Valor dado por kNN:0    Drone
Name: 157, dtype: object

Label en query:0    Drone
Name: 148, dtype: object
Valor dado por kNN:0    Drone
Name: 155, dtype: object

Label en query:0    Drone
Name: 150, dtype: object
Valor dado por kNN:0    Drone
Name: 47, dtype: object

Label en query:0    Drone
Name: 153, dtype: object
Valor dado por kNN:0    Drone
Name: 193, dtype: object

Label en query:0    Drone
Name: 159, dtype: object
Valor dado por kNN:0    Drone
Name: 84, dtype: object

Label en query:0    Drone
Name: 163, dtype: object
Valor dado por kNN:0    Drone
Name: 56, dtype: object

Label en query:0    Drone
Name: 170, dtype: object
Valor dado por kNN:0    Drone
Name: 166, dtype: object

Label en query:0    Drone
Name: 171, dtype: object
Valor dado por kNN:0    Drone
Name: 47, dtype: object

Label en query:0    Drone
Name: 172, dtype: object
Valor dado por kNN:0    Drone
Name: 180, dtype: object

Label en query:0    Drone
Name: 175, dtype: object
Valor dado por kNN:0    Drone
Name: 166, dtype: object

Label en query:0    Drone
Name: 177, dtype: object
Valor dado por kNN:0    Drone
Name: 166, dtype: object

Label en query:0    Drone
Name: 178, dtype: object
Valor dado por kNN:0    Drone
Name: 129, dtype: object

Label en query:0    Drone
Name: 179, dtype: object
Valor dado por kNN:0    Drone
Name: 40, dtype: object

Label en query:0    Drone
Name: 184, dtype: object
Valor dado por kNN:0    Drone
Name: 73, dtype: object

Label en query:0    Drone
Name: 185, dtype: object
Valor dado por kNN:0    Drone
Name: 181, dtype: object

Label en query:0    Drone
Name: 187, dtype: object
Valor dado por kNN:0    Drone
Name: 104, dtype: object

Label en query:0    Drone
Name: 192, dtype: object
Valor dado por kNN:0    Drone
Name: 7, dtype: object

Label en query:0    Drone
Name: 195, dtype: object
Valor dado por kNN:0    Drone
Name: 126, dtype: object

Label en query:0    Drone
Name: 197, dtype: object
Valor dado por kNN:0    Drone
Name: 198, dtype: object

Label en query:0    No Drone
Name: 202, dtype: object
Valor dado por kNN:0    No Drone
Name: 263, dtype: object

Label en query:0    No Drone
Name: 206, dtype: object
Valor dado por kNN:0    No Drone
Name: 346, dtype: object

Label en query:0    No Drone
Name: 207, dtype: object
Valor dado por kNN:0    No Drone
Name: 215, dtype: object

Label en query:0    No Drone
Name: 208, dtype: object
Valor dado por kNN:0    No Drone
Name: 236, dtype: object

Label en query:0    No Drone
Name: 212, dtype: object
Valor dado por kNN:0    No Drone
Name: 239, dtype: object

Label en query:0    No Drone
Name: 217, dtype: object
Valor dado por kNN:0    No Drone
Name: 310, dtype: object

Label en query:0    No Drone
Name: 221, dtype: object
Valor dado por kNN:0    No Drone
Name: 360, dtype: object

Label en query:0    No Drone
Name: 225, dtype: object
Valor dado por kNN:0    No Drone
Name: 368, dtype: object

Label en query:0    No Drone
Name: 227, dtype: object
Valor dado por kNN:0    No Drone
Name: 368, dtype: object

Label en query:0    No Drone
Name: 229, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 232, dtype: object
Valor dado por kNN:0    No Drone
Name: 377, dtype: object

Label en query:0    No Drone
Name: 233, dtype: object
Valor dado por kNN:0    No Drone
Name: 210, dtype: object

Label en query:0    No Drone
Name: 235, dtype: object
Valor dado por kNN:0    No Drone
Name: 392, dtype: object

Label en query:0    No Drone
Name: 237, dtype: object
Valor dado por kNN:0    No Drone
Name: 285, dtype: object

Label en query:0    No Drone
Name: 240, dtype: object
Valor dado por kNN:0    No Drone
Name: 269, dtype: object

Label en query:0    No Drone
Name: 242, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 245, dtype: object
Valor dado por kNN:0    No Drone
Name: 287, dtype: object

Label en query:0    No Drone
Name: 247, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 262, dtype: object
Valor dado por kNN:0    No Drone
Name: 320, dtype: object

Label en query:0    No Drone
Name: 266, dtype: object
Valor dado por kNN:0    No Drone
Name: 398, dtype: object

Label en query:0    No Drone
Name: 267, dtype: object
Valor dado por kNN:0    No Drone
Name: 394, dtype: object

Label en query:0    No Drone
Name: 272, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 273, dtype: object
Valor dado por kNN:0    No Drone
Name: 311, dtype: object

Label en query:0    No Drone
Name: 275, dtype: object
Valor dado por kNN:0    No Drone
Name: 325, dtype: object

Label en query:0    No Drone
Name: 279, dtype: object
Valor dado por kNN:0    No Drone
Name: 330, dtype: object

Label en query:0    No Drone
Name: 281, dtype: object
Valor dado por kNN:0    No Drone
Name: 239, dtype: object

Label en query:0    No Drone
Name: 283, dtype: object
Valor dado por kNN:0    No Drone
Name: 296, dtype: object

Label en query:0    No Drone
Name: 284, dtype: object
Valor dado por kNN:0    No Drone
Name: 397, dtype: object

Label en query:0    No Drone
Name: 286, dtype: object
Valor dado por kNN:0    No Drone
Name: 373, dtype: object

Label en query:0    No Drone
Name: 293, dtype: object
Valor dado por kNN:0    No Drone
Name: 335, dtype: object

Label en query:0    No Drone
Name: 294, dtype: object
Valor dado por kNN:0    No Drone
Name: 392, dtype: object

Label en query:0    No Drone
Name: 295, dtype: object
Valor dado por kNN:0    No Drone
Name: 256, dtype: object

Label en query:0    No Drone
Name: 299, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 304, dtype: object
Valor dado por kNN:0    No Drone
Name: 353, dtype: object

Label en query:0    No Drone
Name: 305, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 306, dtype: object
Valor dado por kNN:0    No Drone
Name: 218, dtype: object

Label en query:0    No Drone
Name: 317, dtype: object
Valor dado por kNN:0    No Drone
Name: 280, dtype: object

Label en query:0    No Drone
Name: 322, dtype: object
Valor dado por kNN:0    No Drone
Name: 292, dtype: object

Label en query:0    No Drone
Name: 324, dtype: object
Valor dado por kNN:0    No Drone
Name: 332, dtype: object

Label en query:0    No Drone
Name: 328, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 336, dtype: object
Valor dado por kNN:0    No Drone
Name: 341, dtype: object

Label en query:0    No Drone
Name: 338, dtype: object
Valor dado por kNN:0    No Drone
Name: 248, dtype: object

Label en query:0    No Drone
Name: 347, dtype: object
Valor dado por kNN:0    No Drone
Name: 296, dtype: object

Label en query:0    No Drone
Name: 348, dtype: object
Valor dado por kNN:0    No Drone
Name: 222, dtype: object

Label en query:0    No Drone
Name: 349, dtype: object
Valor dado por kNN:0    No Drone
Name: 277, dtype: object

Label en query:0    No Drone
Name: 356, dtype: object
Valor dado por kNN:0    Drone
Name: 174, dtype: object

------ No Drone
Label 107 en query:0    No Drone
Name: 356, dtype: object
Valor dado por kNN:0    Drone
Name: 174, dtype: object

Label en query:0    No Drone
Name: 357, dtype: object
Valor dado por kNN:0    No Drone
Name: 377, dtype: object

Label en query:0    No Drone
Name: 358, dtype: object
Valor dado por kNN:0    No Drone
Name: 335, dtype: object

Label en query:0    No Drone
Name: 362, dtype: object
Valor dado por kNN:0    No Drone
Name: 261, dtype: object

Label en query:0    No Drone
Name: 365, dtype: object
Valor dado por kNN:0    No Drone
Name: 296, dtype: object

Label en query:0    No Drone
Name: 370, dtype: object
Valor dado por kNN:0    No Drone
Name: 230, dtype: object

Label en query:0    No Drone
Name: 372, dtype: object
Valor dado por kNN:0    No Drone
Name: 341, dtype: object

Label en query:0    No Drone
Name: 379, dtype: object
Valor dado por kNN:0    No Drone
Name: 316, dtype: object

Label en query:0    No Drone
Name: 383, dtype: object
Valor dado por kNN:0    No Drone
Name: 234, dtype: object

Label en query:0    No Drone
Name: 384, dtype: object
Valor dado por kNN:0    No Drone
Name: 334, dtype: object

Label en query:0    No Drone
Name: 386, dtype: object
Valor dado por kNN:0    No Drone
Name: 203, dtype: object

Label en query:0    No Drone
Name: 388, dtype: object
Valor dado por kNN:0    No Drone
Name: 316, dtype: object

Label en query:0    No Drone
Name: 396, dtype: object
Valor dado por kNN:0    No Drone
Name: 288, dtype: object

/tmp/ipykernel_179434/2936247945.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if str(query_samples_label.iloc[i][0]) != str(training_samples_label.iloc[k_DI[i]][0]):
/tmp/ipykernel_179434/2936247945.py:35: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("------",str(query_samples_label.iloc[i][0]))

In [8]:
print(f"Errores: {cont_Error}")
percent_success = (total - cont_Error) * (100 / total)
print(f"Porcentaje query seleccionado: {percent_query}\n",
      f"Porcentaje training seleccionado: {100 - percent_query}\n",
      f"Elementos en query: {len(query_samples)}\n",
      f"Elementos en training: {len(training_samples)}\n",
      f"k : {k}\n",
      f"Porcentaje exito: {percent_success}\n",
      f"Total: {total-cont_Error}", sep="")

Errores: 1
Porcentaje query seleccionado: 30
Porcentaje training seleccionado: 70
Elementos en query: 120
Elementos en training: 280
k : 3
Porcentaje exito: 99.16666666666667
Total: 119